* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 100vw;
  min-height: 100%;
}

body {
  color: black;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #f1f2ee;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
